/* Common */
.btn-primary {
    background: #5491d3!important;
}
.svg-white {
    filter: invert(89%) sepia(58%) saturate(0%) hue-rotate(67deg) brightness(110%) contrast(103%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0!important;
    background: unset!important;
    border: unset!important;
    margin-top: 10px;
}

.btn-custom {
    background: #5491d3!important;
    color: white!important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background: #5491d3!important;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%!important;
}

.vertical-align-bottom {
    display: inline-block;
    height: 100%; 
    align-self: flex-end;
}

.box {
    display: block;
    min-width: 100%;
    height: 275px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.upload-options {
    position: relative;
    height: 50px;
    background-color: cadetblue;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
    background-color: #7fb1b3;
}
.upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.upload-options label::after {
    content: "Upload";
    /* font-family: "Material Icons"; */
    position: absolute;
    font-size: 1.2rem;
    color: #e6e6e6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.upload-options label span:hover i.material-icons {
    color: lightgray;
}

.js--image-preview {
    height: 225px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.js--image-preview::after {
    content: "";
    position: absolute;
    font-size: 1.2em;
    color: #e6e6e6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.js--image-preview.js--no-default::after {
    display: none;
}
.js--image-preview:nth-child(2) {
    background-image: url("http://bastianandre.at/giphy.gif");
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: cadetblue!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: cadetblue!important;
    border: none!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none!important;
    border: none!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none!important;
}

.vertical-align-bottom {
    display: flex;
    justify-content: end;
    align-content: center;
    flex-direction: column;
}